.panel {
  background: gainsboro;
  margin: 10px;
  border-radius: 3px;
}

.left,
.right {
  height: 100vh;
  overflow: auto;
  position: inherit;
}

.left {
  width: auto;
  left: 0;
}

.right {
  width: 60%;
  right: 0;
}

ul {
  margin: 20px;
}

li {
  margin-left: 20px;
}

.nav {
  margin-bottom: 30px;
}

.nav-item {
  margin-left: 10px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.labels{
  font-size: 15px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}